GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=
GITEA_DB_USERNAME=
GITEA_DB_PASSWORD=
GITEA_DB_HOST=
GITEA_DB_NAME=
NEXTCLOUD_SERVER=
NEXTCLOUD_AUTH_TOKEN=
NEXTCLOUD_TLS_SKIP_VERIFY=
NEXTCLOUD_INFO_APPS=
NEXTCLOUD_INFO_UPDATE=