APP_NAME = Homelab Gitea
RUN_MODE = prod
RUN_USER = {{ gitea_user }}

[database]
DB_TYPE  = mysql
HOST     = 10.0.0.15:3306
NAME     = gitea
USER     = gitea
PASSWD   = {{ gitea_secrets.db_password }}
SSL_MODE = disable

[repository]
ROOT = {{ gitea_home }}/gitea-repositories

[server]
SSH_DOMAIN       = 10.0.0.18
HTTP_PORT        = 3000
ROOT_URL         = http://10.0.0.18:3000/
DISABLE_SSH      = false
SSH_PORT         = 22
LFS_START_SERVER = true

[security]
INSTALL_LOCK   = true
SECRET_KEY     = {{ gitea_secrets.secret_key }}
INTERNAL_TOKEN = {{ gitea_secrets.internal_token }}

[service]
DISABLE_REGISTRATION = false
ENABLE_CAPTCHA       = false

[log]
MODE      = file
LEVEL     = Info
ROOT_PATH = /var/lib/gitea/log